#navBar {
    margin-bottom: 0px;
}
#heroMain {
    position: relative;
    width: 100%;
    height: fit-content;
}
#heroImage {
    position: block;
    object-fit: cover;
    width: 100vh;
    height: 100vh;
}
#heroSplash {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: max-content;
    height: fit-content;
    max-width: 75%;
}
#heroSplash p {
    color: white;
    font-size: 18px;
}
#downArrow {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    opacity: 80%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
#downArrow:hover {
    opacity: 100%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.body-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    margin-top: 5vh;
    max-width: 1000px;
    width: fit-content;
    justify-content: center;
    padding-left: 2vh;
    padding-right: 2vh;
}
.body-text h1 {
    font-size: 4vh;
}
button {
    margin-top: 2vh;
}
#footer {
    margin-top: 10vh;
}


