h1 {
    font-size: 56px;
    font-family: 'Lora', serif;
}
h2 {
    font-size: 36px;
    font-family: 'Lora', serif;
}
p {
    font-size: 16px;
    font-family: 'Lora', serif;
}
button {
    background-color: #69A7A6;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 500;
}
body{
    background-color: #F7F0E9;
}
#navBar{
    background-image: url(source/images/pattern2.svg);
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-bottom: 5vh;
    text-align: center;
}
#EtLogo {
    height: 60px;
    margin-left: 2vh;
}
#footer {
    position: relative;
    bottom: 0px;
    margin-bottom: auto;
    overflow: hidden;
    font-family: 'Lora', serif;
    max-width: 100%;
    background-image: url(source/images/pattern2.svg);
    background-size: cover;
    font-weight: 550;
    font-size: 16px;
    color: #333333;
}
#footerRow {
    margin-left: 5%;
    margin-right: 5%;
}
#footerGroup {
    margin-top: 2vh;
    margin-bottom: 4vh;
    margin-left: 5%;
    margin-right: 5%;
}
.footer-header {
    font-weight: 550;
    font-size: 20px;
    color: #333333;
}
#footerGroup img {
    margin-bottom: 30px;
    margin-inline-end: 30px;
}


 
