h1 {
    font-size: 56px;
    font-family: 'Lora', serif;
}
h2 {
    font-size: 36px;
    font-family: 'Lora', serif;
}
p {
    font-size: 16px;
    font-family: 'Lora', serif;
}
button {
    background-color: #69A7A6;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 500;
}
#navBar{
    background-color: #d9918b !important;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-bottom: 7vh;
    text-align: center;
}
#EtLogo {
    height: 60px;
    margin-left: 8%;
}
#footer {
    position: relative;
    bottom: 0px;
    margin-bottom: auto;
    font-family: 'Lora', serif;
    max-width: 100%;
    background-color: #d9918b;
    font-size: 16px;
    color: white;
}
#footerRow {
    margin-left: 5%;
    margin-right: 5%;
}
#footerGroup {
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-header {
    font-size: 20px;
    color: white;
}
.newsletter {
    font-size: 18px;
}
#footerGroup img {
    margin-bottom: 30px;
    margin-inline-end: 30px;
}
#subscribeForm {
    min-width: 400px;
    max-width: 50%;
}
