h3 {
    font-size: 24px;
    font-family: 'Lora', serif;
}
.card-body p {
    font-size: 20px;
}
#titleVector {
    width: 40%;
    max-width: 250px;
    margin-left: -10px;
    margin-bottom: 3%;
}
#spongeImage {
    object-fit: cover;
    width: 100%;
}
#DeliveryMethod{
   display: flex;
   justify-content:space-evenly; 
}

#price{
    text-align: center;
}

#CheckoutBtn{
    display: flex;
   justify-content:center;
}

#CheckoutContainer{
    padding: 2vh;
}
footer {
    margin-top: 10vh;
}