
#navBar {
    margin-bottom: 6vh !important;
}

#titleVector {
    height: 9vh;
    max-width: 100%;
    margin-bottom: 5vh;
}
#heroCol {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#heroImage {
    object-fit: cover;
    object-position: top;
    width: 100vh;
    max-height: 80vh;
    margin-bottom: 8%;
}
#introText {
    margin-left: 5%;
    margin-right: 5%;
    max-width: fit-content;
}
footer {
    margin-top: 10vh;
}
