
#navBar {
    margin-bottom: 6vh !important;
}
#titleVector {
    height: 7vh;
    max-width: 576px;
    margin-bottom: 4vh;
}
#heroCol {
    max-width: max-content;
}
#heroImage {
    object-fit: cover;
    object-position: top;
    width: 100vh;
    max-height: 90vh;
    margin-bottom: 8%;
}
#introText {
    margin-left: 5%;
    margin-right: 5%;
    max-width: fit-content;
}
footer {
    margin-top: 10vh;
}
