h3 {
    font-size: 24px;
    font-family: 'Lora', serif;
}
#titleVector {
    width: 40%;
    max-width: 250px;
    margin-left: -10px;
    margin-bottom: 3%;
}
.backgroundimg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.7),rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: none;
    opacity: 80%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    
}
.backgroundimg:hover {
    opacity: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.card-title {
    margin-top: 25px;
    margin-left: 25px;
    min-width: max-content;
}
.price {
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 25px;
}
.card-icons img {
    max-height: 25px;
    margin-inline-start: 20px;
    margin-bottom: 3%;
}
.cart-icon {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
#productRow {
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
}
#productCard {
    border-radius: 20px;
    border-style: none; 
}
#productImage {
    border-radius: 20px;
    border-style: none;
}
#cardMaster {
    margin-bottom: 3vh;
    transition: all .2s ease-in-out; 
}
.page-title {
    margin-bottom: 30px;
}
.menu-body {
    margin-top: 3vh;
    margin-bottom: 5vh;
}
#cartIcon {
    transition: all .2s ease-in-out; 
}
#cartIcon:hover {
    transform: scale(1.1); 
}